  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "@id": "https://www.dppflash.de/blog/#webpage",
  "url": "https://www.dppflash.de/blog/",
  "name": "Blog | DPP-Flash",
  "description": "Fachartikel und Informationen zu Digitalen Produktpässen, EU-ESPR, Produktdaten und regulatorischen Anforderungen.",
  "isPartOf": {
    "@id": "https://www.dppflash.de/#website"
  },
  "publisher": {
    "@id": "https://www.dppflash.de/#organization"
  },
  "inLanguage": [
    "de-DE",
    "en"
  ]
}
</script>
